/*Footer Styles*/
.footer {
  background-color: $body-bg;
  padding-top: 70px;
  border-top: 1px solid rgba(179, 173, 173, 0.2);
  .logo__footer {
    width: 80px;
    height: 80px;
  }
  .text__footer {
    color: $small-text-color;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 0;
  }
}

.footer__about .footer__logo {
  margin-bottom: 30px;
  p {
    margin-bottom: 30px;
  }
}

.link__footer {
  color: $small-text-color;
  font-size: 15px;
  font-weight: 400;
  &:hover {
    color: $primary-color;
  }
}

.footer-widget h6 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  ul li {
    line-height: 36px;
  }
}

input:focus {
  outline: none;
}

.footer-widget .footer__newsletter form {
  position: relative;
  input {
    width: 100%;
    font-size: 15px;
    background: #ddd;
    border: none;
    padding: 15px 20px;
    border-bottom: 2px solid $small-text-color;
  }
  button {
    margin-top: 15px;
  }
}

.footer-copyright-text {
  border-top: 1px solid rgba(179, 173, 173, 0.2);
  padding: 20px 0;
  margin-top: 40px;
  p {
    margin-bottom: 0;
  }
}
/*Footer Styles End*/
